main {
	.about-us {
		position: relative;
		top: -100px;
		z-index: 100;

		.about-us__img {
			width: 100vw;
			z-index: 100;
		}
		.about-us__text-container {
			z-index: 100;

			.abot-us__title,
			.abot-us__text {
				padding-left: 3vw;
				color: $primary-color;
			}

			.abot-us__title {
				max-width: 60vw;
				font-family: $secondary-font;
				font-size: 2.25em;
				font-weight: 400;
			}

			.abot-us__text {
				max-width: 90vw;
				font-family: $primary-font;
			}
		}
	}
}

@media screen and(min-width: 768px) {
	main {
		.about-us {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;

			.about-us__img {
				width: 30vw;
			}

			.about-us__text-container {
				width: 50vw;
				margin-top: 2rem;
				padding-left: 15px;
				align-self: center;

				.abot-us__text {
					font-size: 16px;
				}
			}
		}
	}
}
