.footer__container {
    width: 100vw;
    max-width: 100vw;
    padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	font-family: $primary-font;
	font-size: 0.8em;
	color: $primary-color;

	.footer__text {
		width: 80vw;
		text-align: center;
	}

	.footer__social-media-container {
		width: 70vw;
		padding: 0;
		display: flex;
		justify-content: space-around;
		align-content: center;
		list-style: none;
		text-decoration: none;
		line-height: 28px;

		.fab {
			width: 2.25em;
        }
        
        .footer__links {
            color: #000;
        }
    }
    
	@media screen and(min-width:768px) {
		max-width: 100vw;
		flex-direction: row;

		.footer__text {
			padding-left: 3%;
			text-align: left;
		}

		.footer__social-media-container {
			width: 20%;
			padding-right: 3%;
		}
	}
}
