// Font-family
$primary-font: 'IBM Plex Mono', monospace;
$secondary-font: 'IBM Plex Sans', sans-serif;

// Color-Theme
$primary-color: #060A24;
$secondary-color: #0000EC;
$tertiary-color: #00F3BB;

$button-gradient: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$section-gradient: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
