main {
	// SECTION EPISODES
	.episodes {
		position: relative;
		height: 60rem;
		background: $section-gradient;
		clip-path: polygon(100% 0%, 0% 3%, 0% 100%, 100% 97%);

		h2 {
			font-family: 'IBM Plex Sans', sans-serif;
			font-size: 2.25em;
			color: white;
			letter-spacing: 0;
			line-height: 0.75em;
			font-weight: 400;
			padding-top: 2.5em;
			padding-left: 3vw;
		}

		.iframe-container {
			margin: 0 auto;
			padding: 0;
			width: 95%;
			height: 55%;

			.spotify {
				border: none;
				width: 100%;
				height: 30%;
			}
		}
	}
}

@media screen and(min-width: 768px) {
	main {
		.episodes {
			height: 55rem;
			clip-path: polygon(100% 0%, 0% 10%, 0% 100%, 100% 90%);

			h2 {
				font-size: 3em;
				padding-left: 10%;
				padding-top: 3em;
				line-height: 0.1em;
			}
			.iframe-container {
				display: grid;
				grid-template: 1fr 1fr / 1fr 1fr;
				width: 90%;
				height: 65%;

				.spotify {
					width: 90%;
					height: 100%;
				}
			}
		}
	}
}
