main {
	// NEWS
	.news {
		font-family: $secondary-font;
		color: white;
		font-weight: 400;
		background: $section-gradient;
		clip-path: polygon(100% 0%, 0% 16%, 0% 100%, 100% 100%);

		h2 {
			font-size: 2.25em;
			line-height: 42px;
			text-align: center;
		}

		button {
			margin: 0 auto;
		}
    }
}