main {
	.topics {
		font-family: $secondary-font;
		h2 {
			font-size: 2.25em;
			font-weight: 400;
			max-width: 80vw;
			padding-left: 3vw;
		}

		.icons-container {
            padding-top: 20px;
            display: flex;
			flex-flow: column wrap;
			align-items: center;
            margin: 0 auto;

			.icon {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: center;
                padding: 0 6px;

				h4 {
					font-weight: 600;
                    font-size: 24px;
                    text-align: center;
				}
			}
		}
	}
}

@media screen and(min-width: 768px) {
	main {
		.topics {
			.icons-container {
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				margin: 0 auto;
				width: 80%;
			}
		}
	}
}
