body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  font-family: "IBM Plex Mono", monospace;
  background-color: white;
}

header .logo {
  width: 24px;
  height: 24px;
  float: left;
  display: block;
  padding: 16px 10px;
}

header nav .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #0000EC;
  clear: both;
  max-height: 0;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

header nav .menu li {
  line-height: 28px;
}

header nav .menu a {
  display: block;
  text-decoration: none;
  padding: 5%;
  color: #ffffff;
}

header nav .menu a:hover {
  color: #00F3BB;
  text-decoration: line-through;
}

header nav .menu a:active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

header nav .menu-icon {
  padding-top: 25px;
  padding-right: 25px;
  position: relative;
  float: right;
  cursor: pointer;
}

header nav .menu-icon .nav-icon {
  background-color: #060A24;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

header nav .menu-icon .nav-icon:before {
  background-color: #060A24;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

header nav .menu-icon .nav-icon:after {
  background-color: #060A24;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

header nav .menu-btn {
  display: none;
}

header nav .menu-btn:checked ~ .menu {
  max-height: 100%;
}

header nav .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

header nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

header nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

@media screen and (min-width: 768px) {
  header nav .logo {
    width: 36px;
    height: 36px;
  }
  header nav .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  header nav .menu li {
    float: left;
  }
  header nav .menu li a {
    font-size: 16px;
    color: #060A24;
    padding: 22px;
    background-color: #fff;
  }
  header nav .menu-icon {
    display: none;
  }
}

main .hero {
  padding-top: 22%;
  padding-left: 3vw;
}

main .hero h1 {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 42px;
  color: #060A24;
  width: 80%;
}

main .hero h1 span {
  color: #0000EC;
}

main .hero p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #060A24;
}

main .episodes {
  background-color: #0000EC;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 36px;
  line-height: 64px;
}

main button {
  border: none;
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  line-height: 24px;
  color: #060A24;
  height: 8vh;
  width: 93vw;
  margin-top: 12%;
  background-color: #00F3BB;
}

main button:hover {
  background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: white;
}

@media screen and (min-width: 768px) {
  main .hero {
    padding-top: 15%;
    padding-left: 10%;
  }
  main .hero h1 {
    font-size: 64px;
    line-height: 64px;
  }
  main .hero p {
    margin-top: 3%;
    max-width: 30vw;
    font-size: 16px;
    line-height: 24px;
  }
  main .hero button {
    margin-top: 5%;
    max-width: 20vw;
    max-height: 20vh;
  }
}
/*# sourceMappingURL=style.css.map */